.root {
  background: #333;
  color: #fff;
  padding: 13px 15px;
}

.root::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(to right, #0ad, #e90);
}

.title {
  font-weight: bold;
}
