.button {
  cursor: pointer;
  flex-grow: 1;

  &:hover {
    color: #fff;
  }
}

.button_normal {
  background: skyblue;

  &:hover {
    background: deepskyblue;
  }
}

.button_reset {
  background: #aaa;

  &:hover {
    background: #999;
  }
}
